<table>
<thead>
<tr>
<th style="text-align:center"><strong>Date</strong></th>
<th style="text-align:center"><strong>Word Count</strong></th>
<th style="text-align:center"><strong>Page Count</strong></th>
<th style="text-align:center"><strong>Notes</strong></th>
</tr>
</thead>
<tbody>
{{ $site := .Get "site" }}
{{ $sep := "," }}
{{ $csv := getCSV $sep (printf "csv/%s-count.csv" $site) }}
{{ range $i, $r := after 1 $csv }}
<tr>
<td style="text-align:center">{{ index $r 0 }}</td>
<td style="text-align:center">{{ lang.FormatNumberCustom 0 (index $r 1) }}</td>
<td style="text-align:center">{{ lang.FormatNumberCustom 0 (index $r 2) }}</td>
<td style="text-align:left">{{ index $r 3 }}</td>
</tr>
{{ end }}
{{- if eq $site "handbook" }}
{{- $scratch := newScratch }}
{{- range .Site.RegularPages }}
    {{- $scratch.Add "wordcount" .WordCount }}
{{- end }}
<tr>
    <td style="text-align:center">{{ time.Format "2006-01-02" time.Now }}</td>
    <td style="text-align:center">{{ $scratch.Get "wordcount" | lang.FormatNumberCustom 0 }}</td>
    <td style="text-align:center">{{ len .Site.RegularPages | lang.FormatNumberCustom 0 }}</td>
    <td style="text-align:center">⬅️ Hugo generated Live Count</td>
</tr>
{{ end }}
</tbody>
</table>
